* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

.active{
  box-shadow: 0px 0px 5px 1px rgb(241, 148, 67);
  -webkit-box-shadow: 0px 0px 5px 1px rgb(241, 148, 67);
  -moz-box-shadow: 0px 0px 5px 1px rgb(241, 148, 67);
}

.title{
  color: rgb(108, 15, 196);
  font-family: 'Mynerve', cursive;
  font-size: 3rem;
  position: absolute;
  bottom: 25rem;
  text-align: center;
}

@media (max-width: 768px) {
  .active{
    box-shadow: none;
  }
}

              
.vermas{
  font-size: 1rem;
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.vermas:hover{
  transform: scale3d(1.2, 1.2, 0.3);
      -webkit-transform: scale3d(1.2, 1.2, 0.3);
      -moz-transform: scale3d(1.2, 1.2, 0.3);
}
            